.header__logo {
  width: 142px;
  height: 33px;
  margin-top: 45px;
  margin-bottom: 41px;

}

@media screen and (max-width: 880px) {

  .header__logo {

    margin-top: 28px;
    margin-bottom: 31.6px;
    width: 103.74px;
    margin-left: 27px;
  }
}