.profile__name {
  margin-bottom: 16px;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  grid-area: name;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 282px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;


}


@media screen and (max-width: 390px) {
  .profile__name {

    max-width: 260px;

  }
}

@media screen and (max-width: 550px) {
  .profile__name {
    margin-bottom: 14px;

    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin-left: calc(24px + 15.25px);

  }
}

@media screen and (max-width: 880px) {
  .profile__name {
    margin-left: calc(24px + 15.25px);
    margin-top: 22.5px;
  }
}