.popup__button_close {

  position: absolute;
  right: calc((100vw - 430px)/2 - 38px);
  top: calc((100vh - 330px)/2 - 45px);
  object-position: center;
  object-fit: cover;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.popup__button_close:hover {
  opacity: 0.6;
}



@media screen and (max-width: 550px) {
  .popup__button_close {
    right: calc((100vw - 282px)/2);
    top: calc((100vh - 322px)/2 - 50px);
  }
}