.popup__close-button {
  position: absolute;
  z-index: 2;
  background: url(../../../images/Close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-size: contain;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}



@media screen and (max-width: 550px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
  }
}