.popup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  color: black;
  min-height: 330px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  animation-name: popup-opacity-out;
  animation-duration: .7s;



}

@keyframes popup-opacity-out {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@media screen and (max-width: 550px) {
  .popup__container {
    max-width: 282px;
    width: 100%;
    min-height: 322px;

  }
}