.profile__about {
  max-width: 294px;
  display: block;


  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  grid-area: about;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;



}


@media screen and (max-width: 390px) {

  .profile__about {
    max-width: 220px;
  }
}

@media screen and (max-width: 880px) {
  .profile__about {

    margin-left: calc(24px + 15.25px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }


}


@media screen and (max-width: 550px) {




  .profile__about {



    font-size: 14px;
    line-height: 17px;




  }
}