.elements__image {
  margin: 0;
<<<<<<< HEAD
  width: 282px;
  height: 282px;
=======
>>>>>>> a3811ab40bce7843cc123f63bd43179916aea0a9
  padding: 0;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
<<<<<<< HEAD


}


.elements__image:hover {
  cursor: pointer;
=======
  max-height: 361px;
>>>>>>> a3811ab40bce7843cc123f63bd43179916aea0a9
}