.popup_scaled {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}