.profile__avatar {
  display: flex;
  align-self: flex-end;
  height: 120px;
  width: 120px;
  border-radius: 180%;
  margin-right: 30px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;

}


@media screen and (max-width: 880px) {
  .profile__avatar {
    margin: 0;
    align-self: center;

  }
}