.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  animation-name: popup-opacity-out;
  animation-duration: .7s;
  height: 380px;



}

@keyframes popup-opacity-out {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}