.elements__like {
  margin-right: 30px;
  cursor: pointer;
  background: url(../../../images/Vector0.svg) rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 19px;
  border: 0;

}



.elements__like:hover {
  opacity: 0.5;
  transform: scale(110%);
  transition: transform 0.7s ease;
  cursor: pointer;

}